@use 'core' as u;

.bgLoader {
    position: absolute;
    inset: 0;
}

.decor {
    position: absolute;
    z-index: 20;
    left: 0;
    bottom: 0;
    transform: translate(-15%, 70%);
    @include u.mw(sm) {
        left: 50%;
        transform: translate(-60%, 65%);
    }
    @include u.mw(md) {
        left: 50%;
        transform: translate(-45%, 45%);
    }

    @include u.px(w, 196, 291, 349, 371);
}
