@use 'core' as u;

.bgLoader {
    position: absolute;
    inset: 0;
}

.noMargin {
    margin-bottom: 0 !important;
}

.topOffset {
    --offsetY: 0;

    @include u.px(--offsetY, 73, 56, 141, 170);
    margin-top: calc(var(--offsetY) * -1);
}

