@use 'core' as u;

.codeHint {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.timeNotice {
    text-align: center;
    max-width: 18rem;
    margin-inline: auto;

    @include u.mw(sm) {
        max-width: 100%;
    }
}

.resendBtn {
    &:disabled {
        cursor: default;
        opacity: 0.5;
    }
}

.otpLabel {
    width: 100%;
    display: block;
}

.otpField {
    width: max-content !important;
}
