@use 'core' as u;

.wrapper {
    @include u.px(mb, 50, 106, 67, 63);

    > * + * {
        @include u.px(mt, 60, 60, 60, 60);
    }

    > section h3 {
        color: inherit;
        font-weight: 700;
        @include u.px(mb, 20, 25, 35, 50);
        @include u.rm(text, 28, 36, 48, 48);
    }
    > section p {
        color: inherit;
        @include u.px(mb, 24, 40, 35, 40);
    }

    > section:nth-child(even) {
        color: white;
        background-color: u.clr('primary', 'muted');

        button, a {
            --color: white;
            --bg-color: #{u.clr('primary', 'muted')};
        }

        @include u.mw(sm) {
            color: u.clr('primary', 'strong');
            background-color: transparent;

            button, a {
                --color: #{u.clr('primary', 'strong')};
                --bg-color: white;
            }
        }
    }
}

.violetText {
    color: u.clr('primary', 'strong');
    background-color: white;
    background-color: u.opacify(white, 75);

    button, a {
        --color: #{u.clr('primary', 'strong')};
        --bg-color: white;
        background-color: transparent;
    }
}

.intro1 {
    & div:has(p) {
        @include u.mw(sm) {
            max-width: 70%;
        }
        @include u.mw(md) {
            max-width: 50%;
        }
    }
    & > div img {
        object-position: right;
    }
}

.intro4 {
    & div:has(p) {
        @include u.mw(sm) {
            max-width: 68%;
            margin-left: auto;
        }
        @include u.mw(md) {
            max-width: 55%;
        }
        @include u.mw(lg) {
            max-width: 60%;
        }
    }

    &::before {
        transform: rotate(180deg);
    }

    & > div img {
        object-position: left;
    }
}

.decorIntro3 {
    display: none;
    pointer-events: none;

    @include u.mw(sm) {
        display: block;
        position: absolute;
        z-index: 20;
        right: 0;
        bottom: 0;
        transform-origin: center;
        transform: translate(20%, 50%);
        rotate: -35deg;
    }
    @include u.mw(md) {
        transform: translate(40%, 40%);
        rotate: 0deg;
    }
    @include u.mw(md) {
        transform: translate(70%, 50%);
    }

    @include u.px(w, null, 274, 390, 548);
}

.decorIntro5 {
    display: none;
    pointer-events: none;

    @include u.mw(md) {
        display: block;
        position: absolute;
        z-index: 20;
        left: 0;
        top: 0;
        transform: translate(-50%, 0%);
    }
    @include u.mw(lg) {
        transform: translate(-70%, 5%);
    }

    @include u.px(w, null, null, 357, 548);
}

.freeLabel {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-5%, -20%);
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    background-color: u.clr('primary', 'strong');
    justify-content: center;
    border-radius: 2em;
    font-weight: 500;
    padding-block: 0.85em;
    padding-inline: 1.5em;
    @include u.rm(text, 15, 24, 24, 24);
    @include u.shadow(2);

    @include u.mw(sm) {
        transform: translate(-10%, -30%);
    }
    @include u.mw(md) {
        transform: translate(-10%, 30%);
    }
    @include u.mw(lg) {
        transform: translate(-15%, 20%);
    }
}
