@use 'core' as u;

.image {
    object-fit: contain;
    @include u.size(100%);
}

.wrapper {
    user-select: none;
    display: block;
    @include u.px(w, 161, 265, 235, 276);
    @include u.px(h, 39, 67, 44, 67);
}
