@use 'core' as u;

.input {
    position: relative;
}

.field {
    width: 100%;
    min-width: 0;
    background-color: white;
    padding: 0.75em 2em;
    transition-property: color, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    border: 1px solid u.clr('primary', 'strong');
    font-size: 1rem;
    border-radius: 57px;

    /* @include u.rm(text, 16, 16, 16, 16); */
    /* @include u.px(rounded, 57, 57, 57, 57); */


    &:focus {
        outline: 2px solid u.clr('primary', 'strong');
        @include u.shadow(1);
    }
}

.field::placeholder {
    color: rgb(107 114 128);
}

.field:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.field:focus-visible {
    border-color: var(--ring);
    box-shadow: 0 0 0 1px rgb(75 85 99 / 0.2);
}

.field[aria-invalid='true'] {
    border-color: rgb(220 38 38);
    box-shadow: 0 0 0 1px rgb(220 38 38 / 0.2);
}
