@use 'core' as u;

.wrapper {
    position: fixed;
    z-index: 21;
    left: 50%;
    background-color: white;
    background-color: u.opacify(white, 82);
    transform: translateX(-50%);
    backdrop-filter: blur(5px);
    transition: box-shadow 0.2s ease-in-out;
    @include u.px(top, 22, 22, 77, 53);
    @include u.px(w, 328, 657, 1360, 1585);
    @include u.px(rounded, 20, 35, 40, 45);

    @include u.mw(sm) {
        background-color: transparent;
    }
}

.shadow {
    @include u.shadow(2);

    @include u.mw(sm) {
        @include u.shadow(0);
    }
}

.topBar {
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
    background: u.gd('primary', 'muted');
    @include u.px(px, 14, 0);
    @include u.px(py, 4, 7, 10, 10);
    border-radius: inherit;
    @include u.mw(sm) {
        background: none;
    }
}

.burger {
    @include u.px(w, 24);
    @include u.px(h, 24);
    margin-right: 0.75em;

    @include u.mw(sm) {
        display: none;
    }
}

.nav {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include u.px(pt, 27, 0, null, null);
    @include u.px(pb, 59, 0, null, null);
}

.loginBtnWrapper {
    display: none;
    @include u.px(min-w, 126, 207, 240, 240);

    @include u.mw(sm) {
        display: flex;
    }
}
.loginBtn {
    padding-block: 0.65em;
    margin-left: auto;
}

.mbNav {
    overflow-y: auto;
    @include u.px(py, null, 12);
}

@media (prefers-reduced-motion: no-preference) {
    .navOpen {
        transition:
            max-height var(--toast-hiding-easing) var(--toast-hiding-duration),
            padding var(--toast-hiding-easing) var(--toast-hiding-duration);
    }
    .navClosed {
        transition:
            max-height var(--toast-appear-easing) var(--toast-appear-duration),
            padding var(--toast-appear-easing) var(--toast-appear-duration);
    }
}

.navOpen {
    @include u.px(max-h, 800);
}

.navClosed {
    max-height: 0rem;
    padding-block: 0rem;

    @include u.mw(sm) {
        max-height: 100%;
        @include u.px(py, null, 12);
    }
}
