@use 'core' as u;

.wrapper {
    --padding: 0;
    position: relative;
    overflow: hidden;
    overflow: clip;
    isolation: isolate;
    max-width: calc(100% - (var(--padding) * 2));
    margin-inline: auto;
    @include u.px(rounded, null, null, 36, 36);
    @include u.px(mt, null, null, 47, 32);
    @include u.px(--padding, null, null, 27, 45);
    @include u.px(min-h, 608, 785, 742, 830);
    @include u.shadow(3);

    > * {
        @include u.px(pt, 97, 228, 116, 145);
        @include u.px(pb, 132, 128, 135, 182);
        @include u.px(px, 11, 64, 100, 180);
    }
}

.breadcrumbs {
    @include u.px(mb, 29, 36, 94, 75);
}

.mainHeading {
}

.leftLayout {
    text-align: center;
    text-wrap: balance;
}

.intro {
    @include u.px(mb, 39, 59, 48, 118);
    p {
        margin-bottom: 1em;
    }
}

.repeatBtn {
    margin-inline: auto;
    @include u.px(mb, null, null, 40, 40);
}

.songQuote {
    text-align: center;
    text-transform: uppercase;
    color: white;
    @include u.rm(text, 16, 20, 20, 24);

    @include u.mw(md) {
        max-width: 80%;
        margin-inline: auto;
    }
}
