@use 'core' as u;

.wrapper {
    --height: 0;
    min-height: var(--height);
    border-radius: calc(var(--height) / 2);
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    background: linear-gradient(
        180deg,
        rgba(200, 181, 255, 0.26) 0%,
        rgba(255, 255, 255, 0.19) 100%
    );
    box-shadow:
        10px 10px 20px 0 rgba(0, 0, 0, 0.25),
        0 1.5px 1px 0 #e1d4ff inset;
    backdrop-filter: blur(5px);
    @include u.px(--height, 75, 90, 90, 111);
    @include u.rm(text, 16, 24, 24, 32);

    &:hover {
        background-color: u.clr('primary', 'strong');
    }
}
