@use 'core' as u;

.wrapper {
    margin-inline: auto;
    max-width: u.bp('xl');
    overflow-x: hidden;
    overflow-x: clip;
    isolation: isolate;
    background-color: u.clr('background', 'muted');
    color: u.clr('foreground', 'neutral');
    position: relative;
    isolation: isolate;
}
