@use 'core' as u;

.input {
    width: 100%;
    min-width: 0;
    background-color: white;
    padding: 0.75em 2em;
    transition-property: color, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    border: 1px solid u.clr('primary', 'strong');
    font-size: 1rem;
    border-radius: 57px;

    /* @include u.rm(text, 16, 16, 16, 16); */
    /* @include u.px(rounded, 57, 57, 57, 57); */

    &:focus {
        outline: 2px solid u.clr('primary', 'strong');
        @include u.shadow(1);
    }
}
