@use 'core' as u;

.input {
    display: flex;
    height: 3rem;
    width: 100%;
    min-width: 0;
    border-radius: 9999px;
    background-color: rgb(229 231 235);
    padding: 0.25rem 1rem;
    text-align: center;
    font-size: 0.875rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    transition-property: color, box-shadow;
    outline: none;
}
