@use 'core' as u;

.wrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 0;
    background-color: u.clr('primary', 'strong');
    color: white;
    border-radius: 50%;

    padding: 0.5rem;
    @include u.mw(sm) {
        padding: 0.75rem;
    }

    svg {
        width: 1.5rem;
        height: 1.5rem;

        @include u.mw(sm) {
            width: 2rem;
            height: 2rem;
        }
    }
}
