@use 'core' as u;

.initialCards {
    @include u.px(mt, 60, 60, 80, 80);
}

.selectedCards {
    margin-inline: auto;
    width: 50%;
    margin-bottom: 2em;
}

.nextRuneBtn {
    margin-inline: auto;
    @include u.px(mt, 42, 68, 63, 70);

    &[disabled] {
        opacity: 0.5;
        cursor: default;
        &:hover {
            pointer-events: none;
        }
    }
}

