@use 'core' as u;

.wrapper {
    --padding: 0;
    position: relative;
    overflow: hidden;
    overflow: clip;
    isolation: isolate;
    max-width: calc(100% - (var(--padding) * 2));
    margin-inline: auto;
    @include u.px(rounded, null, null, 36, 36);
    @include u.px(mt, null, null, 47, 32);
    @include u.px(--padding, null, null, 27, 45);
    /* @include u.px(min-h, 608, 785, 742, 830); */
    @include u.shadow(3);

    > * {
        @include u.px(pb, 60, 86, 71, 88);
        @include u.px(px, 5, 65, 35, 30);
    }

    @include u.mw(md) {
        display: flex;
        > * {
            flex: 1 0 0;
        }
    }
}

.breadcrumbs {
    @include u.px(mb, 40, 62, 114, 100);
}

.leftColumn {
    position: relative;
    @include u.px(pt, 97, 228, 116, 145);
}

.rightColumn {
    background: linear-gradient(173deg, #5f4e8c 3.75%, #b9b2cb 94.67%);
    color: white;
    @include u.px(pt, 65, 110, 116, 145);
}

.background {
    position: absolute;
    inset: 0;

    img {
        object-position: top;
    }
}
