@use 'core' as u;

.wrapper {
    --offsetY: 0;
    @include u.px(mb, 567, 287, 180, 172);
}

.grid {
    display: grid;
    --size: 0;
    scroll-margin-bottom: var(--size);

    @include u.px(--size, 200, 150, 130, 140);
    @include u.px(gap-y, 32, 25, 17, 49);
    @include u.px(gap-x, null, 17, 17, 57);
    @include u.px(mb, 71, 69, 42, 45);

    @include u.mw(sm) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include u.mw(md) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.cardWrapper {
    text-wrap: pretty;
    background-color: white;
    display: flex;
    flex-direction: column;
    @include u.shadow(3);
    @include u.px(rounded, 12, 12, 12, 12);
    @include u.px(p, 32, 32, 32, 32);
}

.cardImgWrapper {
    @include u.px(h, 181, 181, 181, 181);
    @include u.px(mb, 30, 30, 30, 30);
    width: 100%;
    @include u.px(rounded, 10, 10, 10, 10);
}

.cardImg {
    object-position: center;
}

.description {
    @include u.px(mb, 30, 30, 30, 30);
    @include u.rm(text, 14, 14, 14, 14);
}

.cardLink {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-weight: 700;
    gap: 0.5em;
    padding: 0.5em 1.5em;
    padding-right: 1.1em;
    border: 1px solid rgba(112, 115, 147, 0.22);
    background: rgba(112, 115, 147, 0.1);
    backdrop-filter: blur(10px);
    transition:
        color,
        background-color 0.2s ease-in-out;
    @include u.rm(text, 14, 14, 14, 14);
    @include u.px(rounded, 40, 40, 40, 40);

    > svg {
        @include u.size(1.2em);
    }

    &:hover {
        background: rgba(112, 115, 147, 0.2);
        color: u.clr('primary', 'strong');
    }
}
