@use 'core' as u;

.wrapper {
    background-color: white;
    @include u.px(rounded, 32, 32, 32, 32);
    @include u.px(mb, 158, 207, 0, null);
    @include u.px(pl, 25, 50, 67, 116);
    @include u.px(pr, 25, 50, 64, 76);
    @include u.px(pt, 39, 63, 90, 84);
    @include u.px(pb, 32, 46, 90, 87);
    @include u.px(gap, null, null, 257, 321);
    @include u.shadow(3);

    @include u.mw(md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.description {
    @include u.px(mb, 20, 48, 0);
}

.heading {
    font-weight: 600;
    text-transform: uppercase;
    @include u.px(text, 28, 48, 56, 56);
    @include u.px(mb, 20, 15, 15, 15);
}

.imgWrapper {
    align-self: start;
    flex-shrink: 0;
    position: relative;
    margin-left: auto;
    @include u.px(rounded, 28, 28, 28, 28);
    @include u.px(w, 171, 334, 347, 362);
    @include u.px(h, 232, 380, 466, 500);
}

.fgParent {
    position: absolute;
    border-radius: inherit;
    @include u.px(top, 48, 66, 145, 146);
    @include u.px(right, 52, 97, 109, 101);
    @include u.size(120%);
}

.bgParent {
    @include u.size(100%);
    border: 6px solid white;
    border-radius: inherit;
}
