@use 'core' as u;

.wrapper {
    position: relative;
    height: 100%;
}
.wrapperHover {
    &:hover .backImgWrapper {
        transform: translateY(-10%);
    }
    &:hover .backImgWrapper::after {
        opacity: 1;
    }
}
.wrapperHighlighted {
    .backImgWrapper {
        transform: translateY(-10%);
    }
    .backImgWrapper::after {
        opacity: 1;
    }
}
.cardWrapper {
    position: relative;
    height: 100%;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.sharedImgWrapper {
    position: absolute;
    inset-block: 0;
    right: 0;
    width: var(--size);
    backface-visibility: hidden;
    transition: transform 0.6s;
    box-shadow:
        -5px 1px 4px 0 rgba(0, 0, 0, 0.25),
        -23px 1px 20px -6px rgba(0, 0, 0, 0.24);

    @include u.px(rounded, 10, 24, 24, 24);

    &::after {
        content: '';
        position: absolute;
        opacity: 0;
        transition: opacity 0.6s;
        pointer-events: none;
        inset: 0;
        border-radius: inherit;
        background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.4) 0%,
            rgba(255, 255, 255, 0.4) 100%
        );
    }
}
.sharedImg {
    object-fit: contain;
}

.backImgWrapper {
    transform: rotateY(0deg);
}

.frontImgWrapper {
    transform: rotateY(180deg);
    box-shadow: none;
}

.cardWrapper.flipped .frontImgWrapper {
    transform: rotateY(0deg);

    &::after {
        content: none;
    }
}

.cardWrapper.flipped .backImgWrapper {
    transform: rotateY(180deg);
    box-shadow: none;
}

.cardBtn {
    position: absolute;
    inset-block: 0;
    right: 0;
    display: block;
    z-index: 1;
    cursor: pointer;
    width: var(--size);
}
