@use 'core' as u;

.wrapper {
    position: relative;
    height: 100%;
}
.hoveredCard {
    &:hover .backImageFrame {
        translate: 0% -15%;
    }
    &:hover .backImageFrame::after {
        opacity: 1;
    }
}
.highlightedCard {
    .backImageFrame {
        translate: 0% -15%;
    }
    .backImageFrame::after {
        opacity: 1;
    }
    .frontImageFrame {
        translate: 0% -15% !important;
    }
}
.cardFrame {
    position: relative;
    height: 100%;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.cardBtn {
    position: absolute;
    inset-block: 0;
    right: 0;
    display: block;
    z-index: 1;
    height: var(--height, 100%);
    cursor: pointer;
    width: var(--size, 100%);
}

.imageFrame {
    backface-visibility: hidden;
    transition:
        transform 0.6s,
        translate 0.6s;
    box-shadow:
        -5px 1px 4px 0 rgba(0, 0, 0, 0.25),
        -23px 1px 20px -6px rgba(0, 0, 0, 0.24);

    @include u.px(rounded, 10, 24, 24, 24);

    &::after {
        content: '';
        position: absolute;
        opacity: 0;
        transition: opacity 0.6s;
        pointer-events: none;
        inset: 0;
        border-radius: inherit;
        background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.4) 0%,
            rgba(255, 255, 255, 0.4) 100%
        );
    }

    > img {
        object-fit: contain;
    }
}

.imageFrameFloating {
    position: absolute;
    inset-block: 0;
    right: 0;
    top: 0;
    width: var(--size);
    height: var(--height, auto);
}

.frontImageFrame {
    transform: rotateY(180deg);
    box-shadow: none;
}

.backImageFrame {
    transform: rotateY(0deg);
}

.frontImageFrameFlipped {
    transform: rotateY(0deg);

    &::after {
        content: none;
    }
}

.backImageFrameFlipped {
    transform: rotateY(180deg);
    box-shadow: none;
}
