@use 'core' as u;

.intro {
    text-align: center;
    font-weight: 500;
    margin-inline: auto;
    @include u.px(mb, 32, 48, 32, 66);

    @include u.mw(md) {
        max-width: 70%;
    }
    @include u.mw(lg) {
        max-width: 85%;
    }
}

.actionBtn {
    margin-inline: auto;
    @include u.px(mb, 60, 96, 100, 110);
}

.carouselContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @include u.px(h, 222, 433, 394, 496);
}

.bgParent {
    position: absolute;
    margin-inline: auto;
    height: 100%;
    inset: 0;
    isolation: isolate;
    overflow: visible;

    &::after {
        z-index: -1;
        content: '';
        position: absolute;
        height: 150%;
        inset: 0;
        margin: auto;
        aspect-ratio: 1/1;
        background: radial-gradient(
            70.71% 70.71% at 50% 50%,
            rgba(255, 94, 78, 0.61) 0%,
            rgba(255, 94, 78, 0) 68%
        );
    }
}

.bgImage {
    object-fit: contain;
}

.carousel {
    --size: 0;
    border-radius: calc(var(--size) / 2);
    height: var(--size);
    margin-inline: auto;
    margin-inline: auto;
    background: linear-gradient(
        180deg,
        rgba(200, 181, 255, 0.46) 0%,
        rgba(255, 255, 255, 0.34) 100%
    );
    box-shadow: 0 1.5px 1px 0 #e1d4ff inset;
    backdrop-filter: blur(5px);
    width: 100%;
    @include u.px(w, null, null, 652, 825);
    @include u.px(--size, 105, 226, 206, 261);
}
