@use 'core' as u;

.wrapper {
    margin-inline: auto;
    width: 100%;
    @include u.px(max-w, null, null, 1211, 1553);
    @include u.px(my, 56, 85, 111, 122);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    @include u.px(gap, 6, 13, 13, 13);
}

.content {
    background: linear-gradient(173deg, #5f4e8c 3.75%, #b9b2cb 94.67%);
    color: white;

    @include u.px(pt, 65, 88, 77, 85);
    @include u.px(px, 14, 26, 100, 100);
    @include u.px(pb, 80, 100, 98, 125);
    @include u.px(rounded, null, null, 30, 30);
}

.sectionBtn {
    --size: 0;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    max-width: 45%;
    color: u.clr('primary', 'muted');
    border-radius: var(--size) var(--size) 0 0;
    background-color: u.opacify(white, 40);
    padding: 1em 2em;
    @include u.rm(text, 12, 20, 20, 24);
    @include u.px(--size, 15, 30, 30, 30);
    @include u.mw(sm) {
        max-width: revert;
    }
}

.sectionBtnActive {
    background-color: u.clr('primary', 'strong');
    color: white;
}
