@use 'core' as u;

.wrapper {
    position: relative;
    color: white;
    @include u.px(pb, 52, 71, 71, 73);
    @include u.px(px, 14, 55, 102, 275);
    @include u.px(pt, 49, 63, 94, 109);
}

.heading {
    color: white;
    text-align: center;
}

.fgParent {
    position: absolute;
    inset: 0;
}

.fgImage {
    object-position: top;
}

.listItem {
    padding-block: 1.5em;
    border-bottom: 1px solid currentColor;
}
