@use 'core' as u;

.wrapper {
    position: relative;
    user-select: none;
    perspective: 1000px;
    transform-style: preserve-3d;
    aspect-ratio: 1/1;
    flex-shrink: 0;
    @include u.px(w, 72, 117, 106, 124);

    /* animation: spin 1.4s linear infinite forwards; */
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
.imageFrame {
    backface-visibility: hidden;

    @media (prefers-reduced-motion: no-preference) {
        transition:
            transform var(--delay) linear,
            translate var(--delay) linear;
    }

    @include u.px(rounded, 10, 24, 24, 24);

    > img {
        object-fit: contain;
    }
}

.imageFrameFloating {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.frontImageFrame {
    transform: rotateY(180deg) rotateZ(180deg);
}

.backImageFrame {
    transform: rotateY(0deg) rotateZ(0deg);
}

.frontImageFrameFlipped {
    transform: rotateY(0deg) rotateZ(0deg);
}

.backImageFrameFlipped {
    transform: rotateY(180deg) rotateZ(180deg);
}
