@use 'core' as u;

.scene {
    position: relative;
    perspective: 1000px;

    @include u.size(100%);
}

.carousel {
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    margin: auto;
    transition:
        transform 1s,
        opacity 1s;

    // Prevent text selection
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    // Smooth rendering
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.runeWrapper {
    @include u.size(100%);
}

.runeImg {
    object-fit: contain;
}

.btnWrapper {
    position: absolute;
    top: 0;
    left: 50%;
}

.handleNext {
    font-size: 2rem;
    width: 100px;
    height: 100px;
}
