@use 'core' as u;

.wrapper {
    color: u.clr('foreground', 'strong');
    display: flex;
    align-items: center;
    background: white;
    justify-content: center;
    border-radius: 0.25rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    max-width: fit-content;
    gap: 0.7rem;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    font-size: 1rem;
    @include u.shadow(1);

    &:hover,
    &:focus-visible {
        transform: scale(1.02);
        @include u.shadow(2);
    }

    > figure {
        @include u.size(2rem);
        flex-shrink: 0;

        > img {
            @include u.size(100%);
            object-fit: contain;
        }
    }
}
