@use 'core' as u;

.wrapper {
    position: fixed;
    inset: 0;
    margin-inline: auto;
    isolation: isolate;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    outline: none;
}

.backdrop {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(4px);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.backdrop[data-closed] {
    opacity: 0;
}

.panel {
    position: relative;
    margin-inline: auto;
    margin: auto;
    min-height: 100vh;
    min-height: 100svh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;

    @include u.mw(sm) {
        height: max-content;
        border-radius: 32px;
        max-width: 603px;
        @include u.shadow(2);
        border: 1px solid u.clr('primary', 'muted');

        @include u.mw(sm) {
            max-width: 744px;
        }
    }

    > div {
        width: 100%;
        margin: auto;
    }
}

.panel[data-closed] {
    scale: 0.4;
    opacity: 0;
}

.closeBtn {
    --size: 0;
    position: absolute;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    right: 25px;
    top: 26px;

    /* @include u.px(top, 26, 20, 20, 20); */
    /* @include u.px(right, 25, 22, 22, 22); */
    /* @include u.px(--size, 32, 42, 42, 42); */

    @include u.size(32px);

    @include u.mw(sm) {
        right: 24px;
        top: 24px;
        @include u.size(42px);
    }
}

.closeBtn:hover {
    opacity: 0.75;
}

.closeIcon {
    color: hsla(128, 7%, 50%);
    @include u.size(100%);
}
