@use 'core' as u;

.layout {
    @include u.px(pt, 92, 204, 180, 189);

    h2 {
        color: u.clr('primary', 'strong');
    }
}

.bgLoader {
    position: absolute;
    inset: 0;
    @include u.size(100%);
}

.bgImage {
    object-position: top left;
}

.heading {
    text-align: center;
    text-transform: unset;
}

.card {
    margin-inline: auto;
    @include u.px(w, 326, 389, 389, 389);
    @include u.px(mt, 51, 75, 69, 92);
    @include u.px(mb, 51, 74, 48, 56);

    > button:first-of-type {
        display: none;
    }
}

.payBtn {
    text-transform: uppercase;
    font-weight: 600;
    margin-inline: auto;
    padding-inline: 2em;
    margin-top: 2.5em;
    margin-bottom: 2em;
    font-size: 1.25rem;
}

.backLink {
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: max-content;
    margin-inline: auto;
    color: u.clr('foreground', 'muted');
    @include u.mw(sm) {
        font-size: 0.75em;
    }

    svg {
        @include u.size(1.25em);
    }

    @include u.underline-slide();
}

.decorPlans1 {
    display: none;

    @include u.mw(sm) {
        display: block;
        position: absolute;
        right: 0;
        @include u.px(w, null, 302, 302, 302);
        aspect-ratio: 1/1;
        top: 8%;
        transform: translateX(20%);
        z-index: -1;
    }
    @include u.mw(md) {
        top: 38%;
        right: 5%;
    }
}

.decorPlans2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30%;
    z-index: -1;
    @include u.px(w, 292, 365, 365, 418);
    aspect-ratio: 1/1;

    @include u.mw(sm) {
        transform: translateX(-20%);
        left: 0;
        bottom: 60%;
    }
    @include u.mw(md) {
        bottom: 22%;
    }
    @include u.mw(lg) {
        transform: translateX(-40%);
        bottom: 20%;
    }
}
