@use 'core' as u;

.wrapper {
    position: relative;
    margin-inline: auto;
    margin-top: 3.5rem;
    border-radius: 1.5rem;
    padding-inline: 1rem;
    padding-top: 4.5rem;
    padding-bottom: 2rem;
    text-align: center;
    font-weight: 500;

    background-color: white;

    @include u.shadow(3);
    @include u.mw(sm) {
        max-width: 70%;
        max-width: 492px;
        font-size: 1.25rem;
        padding-top: 5.5rem;
    }

    @include u.mw(md) {
        font-size: 1.25rem;
        max-width: 692px;
    }

    br {
        display: none;

        @include u.mw(md) {
            display: inline;
        }
    }
}

.actionBtn {
    margin-top: 1.5rem;
    font-size: 0.85em;
    padding-inline: 1.5em;
    padding-block: 1em;
    border-radius: 6rem;
    margin-inline: auto;

    @include u.mw(md) {
        margin-top: 2rem;
    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;

        svg {
            width: 1.25em;
        }
    }
}

.imageFrame {
    width: 120px;
    position: absolute;
    margin-inline: auto;
    inset-inline: 0;
    top: 0%;
    transform: translateY(-50%);

    @include u.mw(sm) {
        width: 160px;
    }
}
