@use 'core' as u;

.wrapper {
    padding-block: 58px;

    > form {
        display: grid;
        flex-direction: column;
        gap: 18px;

        > div {
            display: grid;
            margin-inline: auto;
            width: 90%;
            gap: 0.65em;

            @include u.mw(sm) {
                width: 80%;
            }
            @include u.mw(md) {
                width: 70%;
            }
            > label {
                font-size: 0.85em;
                text-align: left;
                margin-left: 0.5em;
                font-weight: 500;
                letter-spacing: 0.1ch;
            }
        }
        > div:last-child {
            font-size: 0.875rem;

            @extend .notice;

            font-size: 0.875rem;
            color: u.clr('primary', 'strong');
            font-weight: 600;
            margin-bottom: 0 !important;

            @include u.mw(sm) {
                font-size: 1.25rem;
            }

            a,
            button {
                display: inline;
                font-weight: inherit;
                font-size: inherit;
                margin-left: 0.5ch;
                text-decoration: underline;
                text-underline-offset: 3px;
                text-underline-offset: 0.4ch;

                &:hover,
                &:focus {
                    color: u.saturate(u.clr('primary', 'muted'), 30%);
                }
            }
        }
    }

    button[type='submit'] {
        margin-inline: auto;
        font-weight: 500;
        width: fit-content;
        border: none !important;

        font-size: 1rem;
        margin-bottom: 10px;
        margin-top: 27px;
        padding: 0.75em 3em !important;
        font-size: 1rem !important;

        @include u.mw(sm) {
            font-size: 1.25rem !important;
            margin-bottom: 22px;
            margin-top: 37px;
        }

        > svg {
            margin-right: 0.75rem;
            width: 1rem;
            height: 1rem;
            animation: spin 1s linear infinite;
        }
    }
}

.logo {
    margin-inline: auto;

    margin-bottom: 50px;
    width: 224px;
    height: 55px;

    @include u.mw(sm) {
        margin-bottom: 30px;
        width: 276px;
        height: 67px;
    }
}
.title {
    margin-inline: auto;
    width: fit-content;
    font-size: 1.5rem;
    margin-bottom: 40px;
    @include u.mw(sm) {
        margin-bottom: 30px;
        font-size: 2.5rem;
    }
}

.notice {
    max-width: 90%;
    text-align: center;
    margin-inline: auto;
    font-size: 0.875rem;
    margin-bottom: 38px;

    @include u.mw(sm) {
        max-width: 80%;
        margin-bottom: 45px;
        font-size: 1rem;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
