@use 'core' as u;

.wrapper {
    --padding: 0;
    position: relative;
    isolation: isolate;
    background-color: white;
    max-width: calc(100% - (var(--padding) * 2));
    margin-inline: auto;
    @include u.px(rounded, null, null, 36, 36);
    @include u.px(mt, null, null, 37, 32);
    @include u.px(--padding, null, null, 27, 45);
    @include u.px(min-h, 608, 785, 742, 830);
    @include u.px(pt, 103, 227, 180, 190);
    @include u.px(px, 11, 64, 100, 180);
    @include u.px(mb, 274, 316, 100, 100);

    @include u.mw(md) {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }
}

.bgImage {
    object-position: bottom left;
    object-fit: contain;
}

.bgLoader {
    position: absolute;
    @include u.px(rounded, null, null, 36, 36);
    overflow: hidden;
    overflow: clip;
    inset-inline: 0;
    bottom: 0;
}

.fgLoader {
    --offsetY: 0;
    bottom: 0;
    top: auto;
    z-index: 0;
    inset-inline: 0;
    margin-inline: auto;
    position: absolute;
    transform: translateY(var(--offsetY));
    @include u.px(w, 281, 475, 433, 498);
    @include u.px(h, 321, 431, 494, 558);
    @include u.px(rounded, 20, 20, 20, 20);
    @include u.px(--offsetY, 224, 245, 0);
    overflow: hidden;
    overflow: clip;
    @include u.shadow(3);

    @include u.mw(md) {
        margin-inline: 0;
        position: relative;
    }
}
.fgImage {
    object-position: center;
}

.btnGroup {
    display: flex;
    align-items: center;
    justify-content: center;

    @include u.mw(sm) {
        justify-content: start;
    }
}
.content {
    text-align: center;
    margin-inline: auto;
    @include u.px(w, 321, 650, 652, 652);
    text-wrap: pretty;

    @include u.mw(sm) {
        text-align: left;
    }
    @include u.mw(md) {
        margin-left: 0;
    }
}

.intro {
    font-weight: 500;
    text-wrap: balance;
    @include u.px(mb, 30, 30, 50, 50);
}

.heading {
    @include u.rm(text, 32, 48, 48, 48);
}
