@use 'core' as u;

.toggle {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.input {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}

.label {
    cursor: pointer;
    text-indent: -999px;
    aspect-ratio: 2/1;
    background: transparent;
    display: block;
    border-radius: 5rem;
    position: relative;
    width: 4.25rem;
    border: 5px double rgba(0, 0, 0, 0.5);

    @media screen and (min-width: 1280px) {
        width: 4.5rem;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5%;
        width: 41%;
        aspect-ratio: 1/1;
        background-color: u.clr('foreground', 'pale');
        border-radius: 90px;
        transition: 0.3s;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    &:active::after {
        width: 55%;
    }
}

.input:checked + .label {
    background: transparent;

    &::after {
        left: 95%;
        background: u.clr('primary', 'strong');
        transform: translate(-100%, -50%);
    }
}
