@use 'core' as u;

.wrapper {
    --padding: 0;
    overflow: hidden;
    overflow: clip;
    position: relative;
    max-width: calc(100% - (var(--padding) * 2));
    margin-inline: auto;
    isolation: isolate;
    @include u.px(mt, null, null, 37, 21);
    @include u.px(--padding, null, null, 27, 45);
    @include u.px(rounded, null, null, 36, 36);
    @include u.rm(h, 913, 1350, 999, 1032);
}


.bgImage {
    background-color: blue;
}

.test {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
    object-fit: cover;
}
