@use 'core' as u;

.wrapper {
    --padding: 0;
    overflow: hidden;
    overflow: clip;
    position: relative;
    isolation: isolate;
    max-width: calc(100% - (var(--padding) * 2));
    margin-inline: auto;
    @include u.px(mt, null, null, 37, 32);
    @include u.px(--padding, null, null, 27, 45);
    @include u.px(rounded, null, null, 36, 36);
    @include u.px(min-h, 905, 1350, 799, 1032);
    @include u.px(pt, 97, 210, 120, 172);
    @include u.px(pl, null, null, 73, 132);
}

.bgImage {
    object-position: top center;
}

.bgLoader {
    position: absolute;
    inset: 0;
}

.fgLoader {
    margin-top: auto;
    z-index: 14;
    bottom: 0;
    inset-inline: 0;
    position: absolute;
    width: 100%;
    @include u.rm(h, 521, 834, null, null);
    @include u.rm(w, null, null, 853, 1099);
    @include u.mw(md) {
        margin-left: auto;
        height: auto;
    }
}
.fgImage {
    @include u.mw(md) {
        object-fit: contain;
        object-position: bottom;
    }
}

.btnGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    @include u.px(gap, 17, 48, 19, 26);

    @include u.mw(md) {
        justify-content: start;
    }
}
.content {
    text-align: center;
    margin-inline: auto;
    @include u.rm(w, 307, 585, 585, 632);
    text-wrap: pretty;

    @include u.mw(md) {
        text-align: left;
        margin-left: 0;
    }
}

.intro {
    font-weight: 500;
    text-wrap: balance;
    @include u.px(mb, 26, 34, 38, 46);
}
