@use 'core' as u;

.wrapper {
    text-align: center;
    position: relative;
}

.root {
    @include u.px(px, 13, 15, 199, 378);
    @include u.px(pt, 47, 59, 113, 118);
    @include u.px(pb, 48, 98, 109, 257);
}

.heading {
    @include u.rm(text, 20, 24, 32, 36);
    @include u.px(mb, 40, 43, 40, 35);
}

.footnote {
    color: u.clr('primary', 'strong');
    font-weight: 600;
    @include u.rm(text, 20, 24, 32, 36);
}
