@use 'core' as u;

.birthdayInput {
    max-width: 16rem;
    padding: 0.5em 0.75em 0.5em 1.25em;
}

.legalLink {
    text-decoration: underline;
    text-underline-offset: 0.3em;
    transition: color 0.3s;

    &:hover {
        color: u.clr('primary', 'strong');
    }
}

.signupBtn {
    margin-inline: auto !important;
    margin-top: 1rem;
    width: fit-content;
    text-decoration: none !important;
    display: flex !important;

    &:hover,
    &:focus-visible {
        color: white !important;
    }
}

.banner {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
    margin-top: 3rem;
    margin-inline: 1rem !important;

    @include u.mw(sm) {
        margin-inline: 4rem !important;
    }
}
