@use 'core' as u;

.birthdayInput {
    max-width: 16rem;
    padding: 0.5em 0.75em 0.5em 1.25em;
}

.legalLink {
    text-decoration: underline;
    text-underline-offset: 0.3em;
    transition: color 0.3s;

    &:hover {
        color: u.clr('primary', 'strong');
    }
}

.notice {
    border: 1px solid u.clr('primary', 'strong');
    border-radius: 0.75rem;
    margin-inline: 1rem;
    margin-bottom: 1.5rem;
    padding: 2rem 1rem 1.5rem;
    position: relative;
    margin-top: 2rem;
    color: u.clr('primary', 'strong');
    font-weight: 600;
    text-align: center;
    text-wrap: balance;
    @include u.mw(sm) {
        margin-top: 3rem;
        font-size: 1rem !important;
        max-width: 35rem !important;
        margin-inline: 4rem;
        padding: 2.5rem 1rem 1.5rem;
        margin-bottom: 2rem;
    }
}

.signupBtn {
    margin-inline: auto !important;
    margin-top: 1rem;
    width: fit-content;
    text-decoration: none !important;
    display: flex !important;

    &:hover,
    &:focus-visible {
        color: white !important;
    }
}
