@use 'core' as u;

.transitionWrapper {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 500ms ease-in-out;

    > div {
        overflow: hidden;
    }
}
.transitionWrapper[data-closed] {
    grid-template-rows: 0fr;
}
.intro {
    text-align: center;
    font-weight: 500;
    margin-inline: auto;
    @include u.px(mb, 32, 48, 32, 66);
}

.cardGrid {
    display: grid;
    width: 100%;

    margin-inline: auto;
    grid-template-columns: repeat(5, 1fr);
    @include u.px(gap, 4, 10, 10, 10);
    justify-content: center;

    @include u.mw(md) {
        grid-template-columns: repeat(8, 1fr);
    }
}

.lenormandCard {
    aspect-ratio: 62/93;

    figure {
        @include u.px(rounded, 4, 10, 10, 10);
    }
    &:nth-last-child(1) {
        grid-column: 3;
    }

    @include u.mw(md) {
        &:nth-last-child(1) {
            grid-column: 6;
        }
        &:nth-last-child(2) {
            grid-column: 5;
        }
        &:nth-last-child(3) {
            grid-column: 4;
        }
        &:nth-last-child(4) {
            grid-column: 3;
        }
    }
}
.actionBtn {
    margin-inline: auto;
    @include u.px(mb, 42, 68, 58, 76);
}

.initialCards {
    @include u.px(mt, 60, 60, 80, 80);
}

.selectedCards {
    margin-inline: auto;
    width: 50%;
    margin-bottom: 2em;
}

.nextRuneBtn {
    margin-inline: auto;
    @include u.px(mt, 42, 68, 63, 70);

    &[disabled] {
        opacity: 0.5;
        cursor: default;
        &:hover {
            pointer-events: none;
        }
    }
}

.highlightedCard {
    figure {
        border: 3px solid white;

        &::after {
            content: '';
            position: absolute;
            background-color: hsl(100 0 100 / 50%);
        }
    }
}

