@use 'core' as u;

.transitionWrapper {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 500ms ease-in-out;

    > div {
        overflow: hidden;
    }
}
.transitionWrapper[data-closed] {
    grid-template-rows: 0fr;
}
.intro {
    text-align: center;
    font-weight: 500;
    margin-inline: auto;
    @include u.px(mb, 32, 48, 32, 66);

    @include u.mw(md) {
        max-width: 70%;
    }
    @include u.mw(lg) {
        max-width: 85%;
    }
}

.cardGrid {
    display: grid;
    width: 100%;

    margin-inline: auto;
    grid-template-columns: repeat(5, 1fr);
    @include u.px(gap, 10, 10, 10, 10);

    @include u.mw(md) {
        grid-template-columns: repeat(8, 1fr);
    }
}

.lenormandCard {
    aspect-ratio: 62/93;
    /* --height: 0; */
    /* @include u.px(--height, 93, 195, 195, 218); */
    /* height: var(--height); */
    /* --size: 0; */
    /* @include u.px(--size, 62, 130, 130, 145); */

    figure {
        @include u.px(rounded, 10, 10, 10, 10);
    }
}
.actionBtn {
    margin-inline: auto;
    margin-bottom: 5px;
}

.initialCards {
    @include u.px(mt, 60, 60, 80, 80);
}

.selectedCards {
    margin-inline: auto;
    width: 50%;
    margin-bottom: 2em;
}

.nextRuneBtn {
    margin-inline: auto;
    @include u.px(mt, 42, 68, 63, 70);

    &[disabled] {
        opacity: 0.5;
        cursor: default;
        &:hover {
            pointer-events: none;
        }
    }
}
