@use 'core' as u;

.layout {
    @include u.px(pt, 92, 204, 180, 189);

    h2 {
        color: u.clr('primary', 'strong');
    }
}

.bgLoader {
    position: absolute;
    inset: 0;
    @include u.size(100%);
}

.bgImage {
    object-position: top left;
}

.content {
    background: white;
    margin-bottom: 4rem;
    margin-inline: auto;
    padding-inline: u.rem(25);
    padding-top: u.rem(36);
    padding-bottom: u.rem(47);

    @include u.shadow(3);

    @include u.mw(sm) {
        border-radius: 2rem;
        grid-column: 2 !important;
        max-width: 921px;
        padding-inline: u.rem(39);
        padding-top: u.rem(45);
        padding-bottom: u.rem(45);
    }
    @include u.mw(md) {
        margin-bottom: 0;
        padding-inline: u.rem(106);
        padding-top: u.rem(60);
        padding-bottom: u.rem(51);
    }
    @include u.mw(lg) {
        max-width: 1077px;
        padding-inline: u.rem(185);
        padding-bottom: u.rem(63);
    }
}

.decorPlans1 {
    display: none;

    @include u.mw(sm) {
        display: block;
        position: absolute;
        right: 0;
        @include u.px(w, null, 396, 396, 396);
        aspect-ratio: 1/1;
        top: 8%;
        transform: translateX(20%);
        z-index: -1;
    }
    @include u.mw(md) {
        top: 38%;
        right: 5%;
    }
}

.decorPlans2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30%;
    z-index: -1;
    @include u.px(w, 365, 365, 365, 365);
    aspect-ratio: 1/1;

    @include u.mw(sm) {
        transform: translateX(-20%);
        left: 0;
        bottom: 60%;
    }
    @include u.mw(md) {
        bottom: 22%;
    }
    @include u.mw(lg) {
        transform: translateX(-40%);
        bottom: 20%;
    }
}

.heading {
    text-align: center;
    text-transform: unset;
    font-size: 2rem;

    @include u.mw(sm) {
        font-size: 2.25rem;
    }
}

.planDetails {
    margin-top: u.rem(35);
    text-align: center;
    color: u.clr('primary', 'strong');
}

.deleteBtn {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    transition: color 0.3s;
    gap: 0.5em;

    @include u.mw(sm) {
        margin-left: auto;
    }
    &:hover {
        color: u.opacify(u.clr('foreground', 'muted'), 70);
    }
    svg {
        width: 1em;
    }
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    gap: 2rem;

    @include u.mw(sm) {
        flex-direction: row;
    }
}

.subToggle {
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logoutBtn {
    padding-inline: 2em;
    padding-block: 0.75em;
    margin-left: auto;
}
