:root {
    --toast-hiding-easing: cubic-bezier(0.154, 1.937, 0.213, 0.901);
    --toast-appear-easing: cubic-bezier(0.598, 0.029, 0.876, 0.573);
    --toast-hiding-duration: 2.167s;
    --toast-appear-duration: 0.3s;
}

@supports (transition: linear(0, 1)) {
    /* stiffness 200, damping 12 */
    /* prettier-ignore */
    :root {
      --toast-hiding-easing: linear(0, 0.009, 0.038 1.8%, 0.156 3.7%, 0.787 10.7%, 1.014 13.7%, 1.094, 1.155, 1.198 18%, 1.222 19.6%, 1.229, 1.229, 1.223, 1.211 23.6%, 1.174 25.8%, 1.057 31.3%, 1.007 34%, 0.968 37.1%, 0.957, 0.95 40.3%, 0.947, 0.951 44.6%, 0.998 54.9%, 1.007, 1.011 60.8% 65.6%, 0.998 81%, 1);
      --toast-appear-easing: cubic-bezier(0.598, 0.029, 0.876, 0.573);
    }
}
