@use 'core' as u;

:root {
    --root-base: 1;
    interpolate-size: allow-keywords;
}

#app {
    height: 100%;
}
#app > * {
    min-height: 100%;
}

html,
body {
    overflow-x: hidden;
    overflow-x: clip;
    height: 100%;
}

body {
    min-height: 100vh;
    line-height: 1.4;
    font-family:
        'Montserrat', 'Verdana', 'Tahoma', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji';

    @include u.rm(text, 14, 16, 20, 24);
}

button {
    --transition-duration: 0.25s;
    color: inherit;
    cursor: pointer;
    transition:
        color var(--transition-duration) ease,
        background-color var(--transition-duration) ease,
        border-color var(--transition-duration) ease,
        box-shadow var(--transition-duration) ease,
        transform var(--transition-duration) ease-in-out;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    color: u.clr('primary', 'strong');
    font-weight: 900;
    text-transform: uppercase;
    text-wrap: balance;
    @include u.px(text, 28, 48, 56, 56);
    @include u.px(mb, 22, 32, 32, 32);
}

h2 {
    color: u.clr('primary', 'strong');
    font-weight: 600;
    text-wrap: balance;
    @include u.px(text, 28, 40, 48, 48);
    @include u.px(mb, 36, 42, 36, 42);
}

.primary-btn {
    color: white;
    display: flex;
    align-items: center;
    background-color: u.clr('primary', 'strong');
    justify-content: center;
    border-radius: 2em;
    font-weight: 500;
    gap: 0.4em;
    @include u.px(py, 12, 16, 16, 16);
    @include u.px(px, 16, 22, 22, 22);
    @include u.rm(text, 12, 16, 16, 16);
    border: 1px solid white;
    @include u.shadow(2);
    @include u.shine;

    &:hover,
    &:focus-visible {
        transform: scale(1.04);
        @include u.shadow(3);
    }

    > svg {
        @include u.px(w, 20, 20, 20, 24);
        flex-shrink: 0;
    }
}

.full-bleed-parent {
    --padding: 0;

    @include u.px(--padding, 13, 38, 43, 166);

    display: grid;
    align-items: start;
    align-content: start;
    grid-template-columns: var(--padding) 1fr var(--padding);

    > * {
        grid-column: 2;
    }

    > *.full-bleed {
        width: 100%;
        grid-column: 1 / 4;
    }
}
