@use 'core' as u;

:root {
    interpolate-size: allow-keywords;
}

#app {
    height: 100%;
}
#app > * {
    min-height: 100%;
}

/* html { */
/*     margin-right: calc(100vw - 100%); */
/*     margin-right: 0; */
/* } */

html,
body {
    overflow-x: hidden;
    overflow-x: clip;
    height: 100%;
}

body {
    min-height: 100vh;
    line-height: 1.6;
    background-color: u.clr('background', 'muted');
    font-family:
        'Montserrat', 'Verdana', 'Tahoma', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji';

    @include u.rm(text, 14, 16, 20, 24);
}

button, a {
    --transition-duration: 0.25s;
    color: inherit;
    cursor: pointer;
    transition:
        color var(--transition-duration) ease,
        background-color var(--transition-duration) ease,
        border-color var(--transition-duration) ease,
        box-shadow var(--transition-duration) ease,
        transform var(--transition-duration) ease-in-out;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    color: u.clr('primary', 'strong');
    font-weight: 600;
    line-height: 1.4;
    text-transform: uppercase;
    text-wrap: balance;
    @include u.px(text, 28, 48, 56, 56);
    @include u.px(mb, 22, 32, 32, 32);
}

h2 {
    color: u.clr('primary', 'strong');
    font-weight: 600;
    line-height: 1.4;
    text-wrap: balance;
    @include u.px(text, 28, 40, 48, 48);
    @include u.px(mb, 36, 42, 36, 42);
}

h3 {
    line-height: normal;
}

.primary-btn {
    color: white;
    display: flex;
    align-items: center;
    background: u.gd('primary', 'strong');
    justify-content: center;
    border-radius: 2em;
    font-weight: 500;
    max-width: fit-content;
    gap: 0.4em;
    @include u.px(py, 12, 16, 16, 16);
    @include u.px(px, 18, 24, 24, 24);
    @include u.rm(text, 12, 16, 18, 18);
    border: 1px solid white;
    @include u.shadow(2);
    @include u.shine;

    &:hover,
    &:focus-visible {
        transform: scale(1.04);
        @include u.shadow(3);
    }

    > svg {
        @include u.px(w, 20, 20, 20, 24);
        flex-shrink: 0;
    }
}

.secondary-btn {
    --color: #{u.clr('primary', 'strong')};
    --bg-color: white;
    color: var(--color);
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    justify-content: center;
    border-radius: 2em;
    font-weight: 500;
    max-width: fit-content;
    gap: 0.4em;
    @include u.px(py, 12, 16, 16, 16);
    @include u.px(pl, 18, 24, 24, 24);
    @include u.px(pr, 14, 20, 20, 20);
    @include u.rm(text, 12, 16, 18, 18);
    border: 2px solid var(--color);
    @include u.shadow(2);

    &:hover,
    &:focus-visible {
        @include u.shadow(3);
        background-color: var(--color);
        color: var(--bg-color);
        border-color: var(--bg-color);
    }

    > svg {
        @include u.px(w, 20, 20, 20, 24);
        transform: translateY(0.05em);
        flex-shrink: 0;
    }
}

.full-bleed-parent {
    --padding: 0;

    @include u.px(--padding, 13, 38, 43, 166);

    display: grid;
    align-items: start;
    align-content: start;
    grid-template-columns: var(--padding) 1fr var(--padding);

    > * {
        grid-column: 2;
    }

    > *.full-bleed {
        width: 100%;
        grid-column: 1 / 4;
    }
}

.sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
