@use 'core' as u;

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    @include u.px(gap, 26, 55, 81, 95);
}

.patternFrame {
    @include u.px(h, 53, 92, 78, 92);
    @include u.px(rounded, 10, 21, 21, 21);
    @include u.px(px, 14, 30, 32, 50);
    border: 1px solid rgba(255, 255, 255, 0.5);
    flex: 1;
}
