@use 'core' as u;

.wrapper {
    text-align: center;
    @include u.px(gap, null, null, 111, 230);
    /* @include u.px(px, null, 53 - 38, 95, 125); */
    @include u.px(mb, 92, 88, 139, 125);
}
.headingWrapper {
    flex-shrink: 0;
    @include u.px(mb, 50, 50, 0);
}

.intro {
    display: grid;
    gap: 2ch;
    flex-shrink: 0;
}
