@use 'core' as u;

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    * {
        margin-inline: auto;
    }
}

.label {
    text-align: center;
    font-size: 0.85em;
    margin-bottom: 0.65em;
    font-weight: 500;
    letter-spacing: 0.1ch;
}
