@use 'core' as u;

.input {
    width: 18rem;
    margin-inline: auto;
    field-sizing: content;
    text-align: center;
    min-width: 0;
    background-color: white;
    padding: 0.25em 0.75em;
    font-weight: 600;
    transition-property: color, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    border: 1px solid u.clr('primary', 'strong');
    border-radius: 0.4rem;
    font-size: 1.5rem;
    letter-spacing: 1.5ch;

    @include u.mw(sm) {
        font-size: 2rem;
        width: 24rem;
    }

    &:focus {
        outline: 2px solid u.clr('primary', 'strong');
        @include u.shadow(1);
    }
    &::placeholder {
        font-weight: 600;
    }
}
