@use 'core' as u;

.wrapper {
    --padding: 0;
    position: relative;
    isolation: isolate;
    background-color: white;
    max-width: calc(100% - (var(--padding) * 2));
    margin-inline: auto;
    @include u.px(mt, null, null, 37, 32);
    @include u.px(--padding, null, null, 27, 45);
    @include u.px(min-h, 905, 1350, 1022, 1032);
    @include u.px(pt, 97, 210, 140, 172);
    @include u.px(pb, 27, 30, 30, 30);
    @include u.px(pl, null, null, 73, 132);
    @include u.px(mb, 402, 376, 196, 182);

}

.bgImage {
    object-position: bottom center;
    object-fit: contain;
}

.bgLoader {
    position: absolute;
    @include u.px(rounded, null, null, 36, 36);
    overflow: hidden;
    overflow: clip;
    inset-inline: 0;
    bottom: 0;
}

.fgLoader {
    margin-top: auto;
    display: none;
    bottom: 0;
    inset-inline: 0;
    position: absolute;
    width: 100%;
    @include u.px(h, 561, 760, 901, 1005);
    @include u.px(w, null, null, 853, 1099);

    @include u.mw(md) {
        margin-left: auto;
        margin-bottom: 0%;
    }
}
.fgImage {
    @include u.mw(md) {
        object-position: bottom;
    }
}

.btnGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    @include u.px(gap, 17, 48, 30, 35);

    @include u.mw(md) {
        justify-content: start;
    }
}
.content {
    text-align: center;
    margin-inline: auto;
    @include u.px(w, 307, 585, 610, 632);
    text-wrap: pretty;

    @include u.mw(md) {
        text-align: left;
        margin-left: 0;
    }
}

.intro {
    font-weight: 500;
    text-wrap: balance;
    @include u.px(mb, 26, 34, 38, 46);
}

.underline {
    @include u.underline-slide();
}

.decor {
    display: none;

    @include u.mw(md) {
        display: block;
        position: absolute;
        z-index: 20;
        right: 0;
        bottom: 0;
        transform: translate(15%, 40%);
    }

    @include u.px(w, null, null, 243, 343);
}

.heading {

}
