@use 'core' as u;

.bgLoader {
    position: absolute;
    inset: 0;
}

.heroDecor {
    position: absolute;
    z-index: 20;
    right: 0;
    bottom: 0;
    transform: translate(10%, 15%);
    @include u.mw(sm) {
        transform: translate(0%, 20%);
    }
    @include u.mw(md) {
        transform: translate(25%, 35%);
    }
    @include u.mw(lg) {
        transform: translate(10%, 40%);
    }

    @include u.px(w, 175, 319, 369, 431);
}

