@use 'core' as u;

.bgLoader {
    position: absolute;
    inset: 0;
}

.heroDecor {
    position: absolute;
    z-index: 20;
    right: 0;
    bottom: 0;
    transform: translate(10%, 15%);
    @include u.mw(sm) {
        transform: translate(0%, 20%);
    }
    @include u.mw(md) {
        transform: translate(25%, 35%);
    }
    @include u.mw(lg) {
        transform: translate(10%, 40%);
    }

    @include u.px(w, 175, 319, 369, 431);
}

.footerDecor {
    display: none;

    @include u.mw(sm) {
        display: block;
        position: absolute;
        bottom: 30%;
        left: 0%;
        z-index: 20;
        transform-origin: center;
        transform: translate(-50%, 10%);
        rotate: 23deg;
    }
    @include u.mw(md) {
        rotate: 9deg;
        bottom: 15%;
        transform: translate(-50%, 50%);
    }
    @include u.mw(lg) {
        transform: translate(-80%, 50%);
    }

    @include u.px(w, null, 302, 350, 380);
}
