@use 'core' as u;

.transitionWrapper {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 500ms ease-in-out;

    > div {
        overflow: hidden;
    }
}
.transitionWrapper[data-closed] {
    grid-template-rows: 0fr;
}

.intro {
    text-align: center;
    font-weight: 500;
    margin-inline: auto;
    @include u.px(mb, 32, 48, 32, 66);

    @include u.mw(md) {
        max-width: 70%;
    }
    @include u.mw(lg) {
        max-width: 85%;
    }
}

.runeGrid {
    width: 80%;
    margin-inline: auto;
    place-content: center;
    display: grid;
    /* grid-template-columns: repeat(8, 1fr); */
    /* grid-template-rows: repeat(7, 1fr); */

    @include u.px(mt, 58, 67, 60, 75);
    @include u.px(mb, 52, 98, 93, 100);
    @include u.mw(md) {
        width: 50%;
    }
}

.nextRuneBtn {
    margin-inline: auto;
    @include u.px(mb, 42, 48, 52, 60);
}

.runeItemInactive {
    &:has(button:hover) {
        z-index: 0 !important;
        scale: 100% !important;
    }
    button {
      cursor: default;
    }
}
