@use 'core' as u;

.wrapper {
    width: 100%;
    background-color: u.opacify(white, 50);
    @include u.px(pb, 77, 80, 59, 55);
    @include u.px(px, 22, 125, 81, 69);
    @include u.px(pt, 27, 41, 49, 52);
    @include u.px(gap, null, null, 92, 196);

    @include u.mw(md) {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }
}

.contentWrapper {
    text-align: center;

    @include u.mw(md) {
        text-align: left;
        flex: 1;
    }
}

.heading {
    color: u.clr('primary', 'strong');
    @include u.rm(text, 32, 48, 48, 56);
    @include u.px(mb, 32, 20, 40, 30);
}
.cardDescription {
    @include u.px(mb, 46, 31, 32, 31);
}

.foregroundWrapper {
    background-color: u.clr('background', 'muted');
    @include u.px(rounded, 20, 20, 20, 20);
    @include u.px(w, 329, 500, 673, 673);
    @include u.px(h, 329, 500, 746, 746);
    @include u.px(mb, 48, 48, 0);
    margin-inline: auto;

    @include u.mw(md) {
        margin-inline: 0;
        order: 2;
        flex-shrink: 0;
    }
}
.foreground {
    object-fit: contain;
}
