@use 'core' as u;

.layout {
    @include u.px(pt, 92, 204, 180, 189);

    h2 {
        color: u.clr('primary', 'strong');
    }
}

.wrapper {
    background-color: white;
    text-align: center;
    margin-inline: auto;
    @include u.px(rounded, 32, 32, 32, 32);
    @include u.px(px, 18, 44, 44, 44);
    @include u.px(pt, 40, 56, 56, 56);
    @include u.px(pb, 51, 74, 74, 74);
    @include u.px(mb, 84, 110, 80, 81);
    @include u.px(max-w, null, 653, 653, 653);
}

.bgLoader {
    position: absolute;
    inset: 0;
    @include u.size(100%);
}

.bgImage {
    object-position: top left;
}

.contactLinks {
    color: u.clr('primary', 'strong');
    font-weight: 700;
    place-content: center;
    place-items: center;
    @include u.rm(text, 16, 32, 32, 32);
    @include u.px(mt, 40, 56, 56, 56);
    @include u.px(mb, 43, 62, 62, 62);
    @include u.px(gap, 15, 25, 25, 25);

    svg {
        stroke-width: 2.5;
    }
}

.socialLinks {
    justify-content: center;
    gap: 0.5em;
    @include u.mw(sm) {
        gap: 1em;
    }

    a {
        --size: 0;
        @include u.px(--size, 30, 50, 50, 50);
        @include u.size(var(--size));
    }
}

.heading {
    margin-bottom: 0.5em;
}

.intro {
    @include u.rm(text, 12, 19, 19, 19);
}
