@use 'core' as u;

.root {
    position: relative;
    z-index: -1;
    color: white;
    @include u.px(px, 14, 30, 60, 349);
    @include u.px(pt, 51, 75, 98, 104);
    @include u.px(pb, 106, 128, 112, 93);

    background-color: u.opacify(u.clr('primary', 'strong'), 80);
}

.intro {
    color: white;
    text-align: center;

    @include u.px(mb, 36, 41, 62, 62);
}

.heading {
    color: white;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.description {
    font-weight: 500;
    @include u.rm(text, 16, 24, 24, 24);
}

.cardList {
    @include u.px(mb, 78, 80, 72, 72);
}

.footnote {
    border: 1px solid white;
    margin-inline: auto;
    border-radius: 0.5em;
    position: relative;
    color: white;
    text-align: center;
    text-wrap: pretty;
    font-weight: 600;

    @include u.px(px, 10, 33, 30, 30);
    @include u.px(pt, 30, 52, 32, 32);
    @include u.px(pb, 30, 60, 57, 57);
    @include u.px(w, 332, 720, 885, 885);
    @include u.rm(text, 16, 24, 24, 24);
}
