@use 'core' as u;

.wrapper {
    position: relative;
    overflow: hidden;
    overflow: clip;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.5s ease-in-out;
}

.image.loading {
    opacity: 0;
}

.loader {
    position: absolute;
    inset: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.pulse {
    position: absolute;
    inset: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(229, 231, 235, 0.5);
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.placeholder {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@keyframes pulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
