@use 'core' as u;

.heading {
    text-align: center;
}

.fgParent {
    aspect-ratio: 2/1.1;
    @include u.px(mb, 37, 74, 67, 68);

    @include u.mw(md) {
        max-width: 80%;
        margin-inline: auto;
    }
}

.breadcrumbs {
    @include u.px(mb, 29, 36, 64, 65);
    @include u.mw(md) {
        margin-inline: auto;
    }
}
