@use 'core' as u;

.wrapper {
    --padding: 0;
    position: relative;
    overflow: hidden;
    overflow: clip;
    isolation: isolate;
    max-width: calc(100% - (var(--padding) * 2));
    margin-inline: auto;
    @include u.px(rounded, null, null, 36, 36);
    @include u.px(mt, null, null, 47, 32);
    @include u.px(--padding, null, null, 27, 45);
    @include u.px(min-h, 608, 785, 742, 830);
    @include u.shadow(3);

    > * {
        @include u.px(pt, 97, 228, 116, 145);
        @include u.px(pb, 132, 128, 135, 182);
        @include u.px(px, 11, 64, 100, 180);
    }
}

.songQuote {
    text-align: center;
    text-transform: uppercase;
    color: white;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 30rem;
    @include u.rm(text, 16, 20, 20, 24);

    @include u.mw(md) {
        max-width: 80%;
        margin-inline: auto;
    }
}
.songQuoteClosed {
    max-height: 0rem;
}

.rightLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skeleton {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    background-color: rgba(229, 231, 235, 0.5);
    color: transparent;
    border-radius: 0.5rem;
    min-height: 10em;
}

@keyframes pulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.player {
    @include u.px(mt, 40, 80, 80, 80);
}

.repeatBtn {
    padding-inline: 2em;
    &[disabled] {
        opacity: 0.5;
        cursor: default;
        &:hover {
            pointer-events: none;
        }
    }
}
