@use 'core' as u;

.OTPRoot {
    display: flex;
    gap: 0.5rem;
    flex-wrap: nowrap;
}

.OTPInput {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
    /* background-color: black; */
    box-shadow: 0 0 0 1px black;
    padding: 0;
    height: 35px;
    width: 24px;
    line-height: 1;

    &:hover {
        box-shadow: 0 0 0 1px black;
    }
    &:focus {
        box-shadow: 0 0 0 2px black;
    }
    &::selection {
        background-color: black;
        color: white;
    }
}

