@use 'core' as u;

.signupBtn {
    margin-inline: auto !important;
    width: fit-content;
    text-decoration: none !important;
    display: flex !important;

    &:hover,
    &:focus-visible {
        color: white !important;
    }
}

.banner {
    margin-top: 2rem;
}

.googleAuthBtn {
    margin-inline: auto;
}
