@use 'core' as u;

.transitionWrapper {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 500ms ease-in-out;

    > div {
        overflow: hidden;
    }
}
.transitionWrapper[data-closed] {
    grid-template-rows: 0fr;
}
.intro {
    text-align: center;
    font-weight: 500;
    margin-inline: auto;
    @include u.px(mb, 32, 48, 32, 66);

    @include u.mw(md) {
        max-width: 70%;
    }
    @include u.mw(lg) {
        max-width: 85%;
    }
}

.actionBtn {
    margin-inline: auto;
    @include u.px(mb, 60, 96, 100, 110);
}

.rowWrapper {
    /* display: flex; */
    /* align-items: start; */
    /* justify-content: space-between; */
}

.cardWrapper {
    --size: 0;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    border: 1px solid blue;
    padding-left: var(--size);
    @include u.px(h, 175, 360, 368, 423);
    @include u.px(--size, 122, 252, 257, 295);
}

.initialCards {
    /* flex: 1 0 70%; */
}

.selectedCards {
    /* flex: 1 0 30%; */
    margin-inline: auto;
    width: 50%;
    margin-bottom: 2em;
}

.nextRuneBtn {
    margin-inline: auto;
    @include u.px(mt, 42, 68, 63, 70);
    /* @include u.px(mb, 42, 48, 52, 60); */

    &[disabled] {
        opacity: 0.5;
        cursor: default;
        &:hover {
            pointer-events: none;
        }
    }
}
