@use 'core' as u;

.layout {
    > section {
        isolation: isolate;
    }

    /* :global(#navigation) { */
    /*     @include u.mw(md) { */
    /*         transform: translateX(-6%); */
    /*     } */
    /* } */
}

.noShadow {
    box-shadow: none !important;
}

.shifted {
    --offsetY: 0;
    @include u.px(--offsetY, 198, 230, 250, 250);

    margin-top: calc(var(--offsetY) * -1);
}
