@use 'core' as u;

.items {
    --size: 0;
    display: grid;
    place-content: center;
    gap: 2rem;
    @include u.px(--size, 336, 411, 411, 411);
    @include u.px(gap, 56, 60, 40, 70);
    @include u.px(mb, 56, 60, 40, 70);

    grid-template-columns: repeat(1, min(100%, var(--size)));

    @include u.mw(md) {
        grid-template-columns: repeat(3, 1fr);
    }
}
.lenormandItems {
    > li {
        height: auto;
        aspect-ratio: 1/1;
        color: white;
        text-wrap: balance;

        &::after {
            content: none;
        }
    }
    @include u.mw(md) {
        grid-template-columns: repeat(2, var(--size));
    }
}

.card {
    isolation: isolate;
    overflow: clip;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    transition:
        color,
        background-color 0.25s ease-in-out;
    @include u.px(h, 344, 344, 344, 344);
    @include u.px(rounded, 30, 30, 30, 30);
    @include u.px(pb, 29, 40, 40, 40);
    @include u.px(px, 24, 24, 24, 24);
    @include u.shadow(3);

    > * {
        transition: color 0.25s ease-in-out;
    }
    &:hover {
        color: white;

        h2,
        p {
            color: white;
        }
        .cardLabel {
            opacity: 1;
        }
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) -7.8%,
            #fff 99.82%
        );
        transition: opacity 0.25s ease-in-out;
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) -27.8%,
            #5f4e8c 99.82%
        );
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
    }

    &:hover::before {
        opacity: 1;
    }
    &:hover::after {
        opacity: 0;
    }
}

.cardOverlay {
    position: absolute;
    inset: 0;
    z-index: -2;
}

.selectedCard {
    &::before {
        opacity: 1;
    }
    &::after {
        opacity: 0;
    }
    color: white;

    h2,
    p {
        color: white;
    }
    .cardLabel {
        opacity: 1;
    }
}
.cardHeading {
    text-transform: uppercase;
    font-weight: 650;
    @include u.rm(text, 24, 24, 24, 24);
    @include u.px(mb, 11, 11, 11, 11);
}

.cardDescription {
    @include u.rm(text, 14, 14, 14, 14);
}

.cardLabel {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    font-weight: 700;
    @include u.rm(text, 24, 24, 24, 24);
}

.wrapper {
    @include u.px(mb, 67, 243, 161, 62);
}
.noMargin {
    @include u.px(mb, 67, 243, 21, 62);
}

.articleWrapper {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows var(--slide-duration) ease-in-out;
}
.articleWrapper[data-closed] {
    grid-template-rows: 0fr;

    .paywallFrame {
        padding-top: 0rem;
    }
}
.article {
    overflow: hidden;
    @include u.px(mb, 56, 60, 40, 70);
}
.paywallFrame {
    padding-inline: 10px;
    padding-top: 0.5rem;
    transition: padding-top var(--slide-duration) ease-in-out;
    @include u.px(mb, 56, 60, 0, 0);
    @include u.px(mt, 0, 0, 80, 60);
    @include u.mw(sm) {
        padding-top: 2rem;
    }

    div {
        box-shadow: none;
    }
}

.cardTextWrapper {
    min-height: 50%;
}

.cardBtn {
    position: absolute;
    inset: 0;
    @include u.size(100%);
}
