@use 'core' as u;

.items {
    --size: 0;
    display: grid;
    place-content: center;
    gap: 2rem;
    @include u.px(--size, 336, 411, 411, 411);
    @include u.px(gap, 56, 60, 40, 70);
    @include u.px(mb, 56, 60, 40, 70);

    grid-template-columns: repeat(1, var(--size));

    @include u.mw(md) {
        grid-template-columns: repeat(3, var(--size));
    }
}

.card {
    isolation: isolate;
    overflow: clip;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    transition:
        color,
        background-color 0.25s ease-in-out;
    @include u.px(h, 344, 344, 344, 344);
    @include u.px(rounded, 30, 30, 30, 30);
    @include u.px(pb, 29, 40, 40, 40);
    @include u.px(px, 24, 24, 24, 24);
    @include u.shadow(3);

    > * {
        transition: color 0.25s ease-in-out;
    }
    &:hover {
        color: white;

        h2,
        p {
            color: white;
        }
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) -7.8%,
            #fff 99.82%
        );
        transition: opacity 0.25s ease-in-out;
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) -27.8%,
            #5f4e8c 99.82%
        );
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
    }

    &:hover::before {
        opacity: 1;
    }
    &:hover::after {
        opacity: 0;
    }
}

.cardOverlay {
    position: absolute;
    inset: 0;
    z-index: -2;
}

.selectedCard {
    &::before {
        opacity: 1;
    }
    &::after {
        opacity: 0;
    }
    color: white;

    h2,
    p {
        color: white;
    }
}
.cardHeading {
    text-transform: uppercase;
    @include u.rm(text, 24, 24, 24, 24);
    @include u.px(mb, 11, 11, 11, 11);
}

.cardDescription {
    @include u.rm(text, 14, 14, 14, 14);
}

.wrapper {
    @include u.px(mb, 506, 276, 165, 199);
}

.articleWrapper {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows var(--slide-duration) ease-in-out;
}
.articleWrapper[data-closed] {
    grid-template-rows: 0fr;
}
.article {
    overflow: hidden;
    @include u.px(mb, 56, 60, 40, 70);
}

.cardTextWrapper {
    min-height: 50%;
}

.cardBtn {
    position: absolute;
    inset: 0;
    @include u.size(100%);
}
