@use 'core' as u;

.transitionWrapper {
    display: grid;
    grid-template-rows: 1fr;
    position: relative;
    transition: grid-template-rows 500ms ease-in-out;

    &::before {
        content: '';
        position: absolute;
        top: -2em;
        inset-inline: 0;
        height: 2em;
        width: 100%;
        z-index: -1;

        background-color: white;
    }
}
.transitionWrapper[data-closed] {
    grid-template-rows: 0fr;
}

.mainContentWrapper {
    --border-radius: 0;
    overflow: hidden;
    background-color: white;
    border-radius: 0 0 var(--border-radius) var(--border-radius);

    @include u.px(--border-radius, 30, 30, 30, 30);
}
.wrapper {
    display: grid;
    position: relative;
    @include u.px(pb, 148, 130, 110, 135);
    @include u.px(pt, 81, 90, 94, 101);
    @include u.px(px, 31, 51, 84, 157);
    @include u.px(gap, 107, 90, 96, 141);
}

.sectionHeading {
    font-weight: 700;
    text-align: center;
    @include u.px(mt, 51, 61, 52, 63);
}

.sectionImageWrapper {
    display: flex;
    align-items: center;
    --size: 0;
    flex: 0 0 var(--size);

    @include u.px(--size, null, 171, 260, 335);
    @include u.px(gap, 21, 0);
    @include u.px(mb, 35, 0);

    @include u.mw(sm) {
        flex-direction: column;
    }
}

.sectionImageParent {
    aspect-ratio: 5/7;
    @include u.px(w, 100, 147, 182, 206);
}

.sectionItemName {
    color: u.clr('primary', 'strong');
    text-transform: uppercase;
    text-align: center;

    @include u.px(mb, null, 36, 36, 36);
    @include u.px(text, 24, 24, 24, 32);
    @include u.mw(sm) {
        order: -1;
    }
}

.sectionContentWrapper {
    @include u.mw(sm) {
        display: flex;
        align-items: start;
    }

    @include u.px(gap, null, 28, 43, 45);
}

.sectionImage {
    object-fit: contain;
}

.sectionHtmlContent {
    p {
        margin-bottom: 1.2em;
    }
}

.sectionPreloader {
    p {
        background-color: hsla(0, 0%, 65%, 0.76);
        color: transparent;
        animation: flicker 1s ease-in-out alternate infinite;
        margin-bottom: 1.2em;
        border-radius: 5px;
    }
}

@keyframes flicker {
    to {
        opacity: 0.2;
    }
}

