@use 'core' as u;
@use 'sass:color';

.socialLink {
    --bg-color: hsla(269, 18%, 55%, 1);
    background-color: var(--bg-color);
    @include u.px(w, 29, 44, 44, 44);
    @include u.px(h, 29, 44, 44, 44);
    @include u.px(rounded, 8, 8, 8, 8);
    transition: background-color 0.25s;
    @include u.fxc();

    &:hover,
    &:focus-visible {
        background-color: hsl(from var(--bg-color) h calc(s + 30) l)
    }

    > img {
        width: 60%;
        height: 60%;
    }
}
