@use 'core' as u;

.bgLoader {
    position: absolute;
    inset: 0;
}

.heroDecor {
    position: absolute;
    z-index: 20;
    right: 0;
    bottom: 0;
    transform: translate(25%, 50%);
    @include u.mw(sm) {
        transform: translate(15%, 40%);
    }
    @include u.mw(md) {
        transform: translate(65%, 30%);
        bottom: 50%;
        right: 40%;
    }
    @include u.mw(lg) {
        transform: translate(65%, 20%);
    }

    @include u.px(w, 284, 461, 461, 461);
}

.footerDecor {
    display: none;

    @include u.mw(sm) {
        display: block;
        position: absolute;
        bottom: 20%;
        right: 0%;
        z-index: -2;
        transform-origin: center;
        transform: translate(30%, 10%);
    }
    @include u.mw(md) {
        bottom: 15%;
    }
    @include u.mw(lg) {
        transform: translate(5%, 0%);
    }

    @include u.px(w, null, 525, 525, 492);
}

.leftDecor {
    display: none;

    @include u.mw(sm) {
        display: block;
        position: absolute;
        top: 50%;
        left: 0%;
        z-index: -2;
        transform-origin: center;
        transform: translate(-20%, 0%);
    }
    @include u.mw(lg) {
        transform: translate(-40%, 0%);
    }

    @include u.px(w, null, 344, 344, 436);
}
