@use 'core' as u;

.wrapper {
    pointer-events: none;
    isolation: isolate;
    position: relative;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    overflow: clip;
    user-select: none;
}

.wrapperLoading {
    background-image: var(--mb-src);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    filter: blur(8px);
    transform: scale(1.05); // prevents blur edge bleed

    @media (min-width: 550px) {
        background-image: var(--tb-src);
    }

    @media (min-width: 1110px) {
        background-image: var(--dk-src);
    }
}

.picture {
    display: block;
    transition: opacity 500ms ease-in-out;
    width: 100%;
    height: 100%;
}

.pictureLoading {
    opacity: 0;
}

.image {
    display: block;
    object-fit: cover;
    object-position: top center;
    width: 100%;
    height: 100%;
}

.skeleton {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    background-color: rgba(229, 231, 235, 0.5);
}
