@use 'core' as u;

.heroForeground {
    @include u.px(w, null, null, 651, 721);
    @include u.px(top, null, null, 237, 190);

    @include u.mw(md) {
        transform: translateX(10%);
    }
}

.wrapper {
    div:has(h1) {
        @include u.mw(md) {
            max-width: 55%;
        }
    }
}

.intro {
    margin-bottom: 0 !important;
}

.interactiveLayout {
    > article {
        @include u.maxw(md) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.schema {
    margin-inline: auto;
    @include u.px(my, 46, 120, 106, 130);

    width: 95%;

    @include u.mw(sm) {
        width: 80%;
    }
    @include u.mw(md) {
        width: 60%;
    }
}
